# Compiled Object files
*.slo
*.lo
*.o
*.sdf

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
ipch/

*.opensdf
*.log
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.iobj
*.ipdb
*.suo
/DirectX11Render.VC.db

x64/Intermediates/
